<div class="header">
  <div class="title"><%= titlePage %></div>
  <div class="account">
    <img src="<%= user.avatar %>" alt="" />
    <div class="info">
      <div class="name"><%= user.fullname %></div>
      <div class="role"><%= user.role %></div>
    </div>
  </div>
</div>
