<div class="header">
  <div class="title"><%= titlePage %></div>
  <div class="account">
    <div class="info">
      <div class="name">Hồ Trọng Phương</div>
      <div class="role">Super Admin</div>
    </div>
    <img src="img/htp.jpg" alt="" />
  </div>
</div>
