<div class="sidebar">
  <a href="#" class="logo">
    <i class="bx bxl-nodejs"></i>
  </a>
  <ul class="nav_list">
    <li class="active">
      <a href="#">
        <i class="bx bx-grid-alt"></i>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-user"></i>
      </a>
      <span class="tooltip">User</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-library"></i>
      </a>
      <span class="tooltip">Product</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-cart-alt"></i>
      </a>
      <span class="tooltip">Order</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-store"></i>
      </a>
      <span class="tooltip">Store</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-id-card"></i>
      </a>
      <span class="tooltip">Profile</span>
    </li>
  </ul>
  <a href="#" class="logout">
    <i class="bx bx-log-out"></i>
  </a>
</div>
