:root {
  --color-dark: #11101d;
  --color-dark-secondary: #1d1b31;
  --color-light: #e4e9f7;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
}

/* --- SIDEBAR --- */
.sidebar {
  width: 70px;
  height: 100vh;
  background: var(--color-dark);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.sidebar .logo {
  height: 50px;
  line-height: 50px;
  margin-top: 5px;
  text-align: center;
  width: 60%;
  font-size: 3.6rem;
  color: var(--color-white);
  border-bottom: 2px solid var(--color-white);
}

.sidebar .logo i {
  cursor: pointer;
}

.sidebar .nav_list {
  flex-grow: 1;
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.sidebar .nav_list li {
  position: relative;
  height: 50px;
  width: 50px;
  list-style: none;
  text-align: center;
}

.sidebar .nav_list li + li {
  margin-top: 5px;
}

.sidebar .nav_list li a {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 3rem;
  text-decoration: none;
}

.sidebar .nav_list li.active a {
  background: var(--color-white);
  color: var(--color-dark);
}

.sidebar .nav_list li:hover a {
  background: var(--color-white);
  color: var(--color-dark);
  transition: all 0.6s ease;
}

.sidebar .nav_list li .tooltip {
  position: absolute;
  top: 0;
  left: calc(100% + 12px);
  background-color: var(--color-white);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  color: var(--color-dark);
  font-weight: 400;
  font-size: 1.4rem;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav_list li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}

.sidebar .logout {
  height: 50px;
  width: 100%;
  text-align: center;
  background: var(--color-dark-secondary);
  font-size: 2.5rem;
  color: var(--color-white);
  line-height: 50px;
  margin-right: 5px;
}

.sidebar .logout i:hover {
  cursor: pointer;
  opacity: 0.8;
}

.main {
  width: calc(100% - 80px);
  min-height: 100vh;
  overflow: scroll;
  background: var(--color-light);
}
